---
layout: coming
---

<div class="row text-center">
    <div class="col-12">
      <h1 class="text-logo">CHRINIMUE</h1>
    </div>
    <div class="col-12 text-title-coming">
      <h2 class="big">Soon coming</h2>
      <p class="text">The page is acutally in planing and development </p>
    </div>
  </div>
<!--
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
-->
