<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
<script type="text/javascript">
        $.backstretch([
          "img/coming/p1.jpg",
          "img/coming/p2.jpg",
          "img/coming/p3.jpg",
          "img/coming/p4.jpg",
          "img/coming/p5.jpg"
        ], {duration: 5000, fade: 750, preload: 2});
</script>
