<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="coming-soon">
      <div class="coming-inner">
        <div class="container">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
